In [28]:
from bs4 import BeautifulSoup
import requests
import zipfile
from datetime import datetime
from io import StringIO,BytesIO
import numpy as np
import pandas as pd
DL=['20170301T08:00-0000','20170401T08:00-0000','20170501T08:00-0000','20170515T08:00-0000','20170601T08:00-0000',
     '20170701T08:00-0000','20170715T08:00-0000','20170801T08:00-0000',
     '20170815T08:00-0000','20170901T08:00-0000','20171001T08:00-0000','20171015T08:00-0000','20171101T08:00-0000','20171201T08:00-0000',
     '20180101T08:00-0000','20180201T08:00-0000','20180301T08:00-0000','20180401T08:00-0000','20180501T08:00-0000','20180515T08:00-0000',
     '20180601T08:00-0000','20180701T08:00-0000','20180715T08:00-0000','20180801T08:00-0000','20180815T08:00-0000','20180901T08:00-0000',
   '20181001T08:00-0000','20181015T08:00-0000','20181101T08:00-0000','20181201T08:00-0000','20190101T08:00-0000','20190201T08:00-0000',
  '20190301T08:00-0000','20190401T08:00-0000']

In [42]:
def load(start,end,market='ACTUAL'):
    
    start_date = datetime(int(start[:4]),int(start[4:6]),int(start[6:8]),int(start[9:11]),int(start[12:14]))
    end_date = datetime(int(end[:4]),int(end[4:6]),int(end[6:8]),int(end[9:11]),int(end[12:14]))
    Dict = {}
   
    try:
        source='http://oasis.caiso.com/oasisapi/SingleZip?resultformat=6&queryname=SLD_FCST&market_run_id=ACTUAL&version=1&startdatetime='
        source+=start+'&enddatetime='+end
        r = requests.get(source, stream=True)
        z = zipfile.ZipFile(BytesIO(r.content))
        unzipped = [z.read(thisfile) for thisfile in z.namelist()]
        s = unzipped[0]
        l = s.decode("utf-8") 
        l=l.replace('\n',',')
        l=l.split(',')[:-1]
        L = np.array(l).reshape(int(len(l)/14),14)
        Areas = set(L[1:,7])

        for area in Areas:
            ind=(L[:,7]==area)
            if len(Dict.keys())==0:
                Dict['Timestamp']=L[ind,0]
        
            load = L[ind,11]
            Dict.update({area:load}) 
            #print(len(load))
            
        
    except:
        pass
    #print(Dict)
    #df = pd.DataFrame(data=Dict)
    return Dict

In [43]:
l=[]
import time
for i in range(len(DL)-1):
    print(i)
    Dict_=load(DL[i],DL[i+1])
    Cleaned_dict = {}
    Cleaned_dict['Timestamp']=Dict_['Timestamp']
    for e in Dict_.keys():
        if len(Dict_[e])==len(Dict_['Timestamp']) and e!='Timestamp':
            Cleaned_dict[e]=Dict_[e]
    df = pd.DataFrame(data=Cleaned_dict)
    l.append(df)
    time.sleep(5)
df=pd.concat(l).reset_index(drop=True)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

C:\Users\DingR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [44]:
df=df.sort_values(by=['Timestamp'])
#df.to_csv('load_1902.csv',index=False)

In [45]:
df

,AZPS,BCHA,CA ISO-TAC,IPCO,MWD-TAC,NEVP,PACE,PACW,PGE,PGE-TAC,PSEI,SCE-TAC,SDGE-TAC,Timestamp,VEA-TAC
18,3182,NaN,25277,NaN,NaN,3398,5209,2563,NaN,10120,3556,11202,1881,2017-03-01T08:00:00-00:00,52
13,2502,NaN,20647,NaN,NaN,3968,5631,2284,NaN,9777,3475,9333,2741,2017-03-01T09:00:00-00:00,51
10,2516,NaN,24092,NaN,NaN,3499,4656,3073,NaN,9605,3734,10772,2332,2017-03-01T10:00:00-00:00,75
23,2771,NaN,20600,NaN,NaN,3632,5141,2439,NaN,9644,3715,10648,1750,2017-03-01T11:00:00-00:00,78
17,2605,NaN,22805,NaN,NaN,3568,5347,2790,NaN,9775,3580,11136,2002,2017-03-01T12:00:00-00:00,54
15,3074,NaN,23176,NaN,NaN,3358,5550,2658,NaN,10452,3708,12524,2140,2017-03-01T13:00:00-00:00,72
7,2343,NaN,23822,NaN,NaN,3463,4644,2366,NaN,11699,3103,10698,2637,2017-03-01T14:00:00-00:00,67
0,2888,NaN,20984,NaN,NaN,3305,4735,3034,NaN,12197,2683,11538,2717,2017-03-01T15:00:00-00:00,66
12,3162,NaN,24138,NaN,NaN,3398,5377,2632,NaN,11774,3038,11469,1759,2017-03-01T16:00:00-00:00,96
22,2979,NaN,25773,NaN,NaN,3723,5612,2922,NaN,11565,3323,10738,2465,2017-03-01T17:00:00-00:00,63
21,2343,NaN,26045,NaN,NaN,3458,5666,2637,NaN,11232,3332,10774,1993,2017-03-01T18:00:00-00:00,57
5,2646,NaN,26094,NaN,NaN,3397,5278,2427,NaN,10811,3255,9175,2477,2017-03-01T19:00:00-00:00,93
4,2392,NaN,24346,NaN,NaN,3390,5243,2553,NaN,10581,3401,11032,2051,2017-03-01T20:00:00-00:00,65
20,2889,NaN,28189,NaN,NaN,3939,4969,2219,NaN,10604,3681,11604,2224,2017-03-01T21:00:00-00:00,52
3,2666,NaN,25221,NaN,NaN,3457,5296,2786,NaN,10695,3264,12548,2271,2017-03-01T22:00:00-00:00,64
11,2713,NaN,27442,NaN,NaN,3417,4684,2756,NaN,10859,2755,10566,1809,2017-03-01T23:00:00-00:00,67
1,3440,NaN,22486,NaN,NaN,3676,5448,3202,NaN,10991,3505,9912,2274,2017-03-02T00:00:00-00:00,75
2,3195,NaN,21141,NaN,NaN,3603,5610,2402,NaN,11635,3627,9473,2014,2017-03-02T01:00:00-00:00,102
9,3051,NaN,21727,NaN,NaN,3536,5685,2221,NaN,12710,3360,10258,2049,2017-03-02T02:00:00-00:00,66
16,2602,NaN,23249,NaN,NaN,3309,5443,2481,NaN,12882,2594,10596,1802,2017-03-02T03:00:00-00:00,60
8,2585,NaN,28062,NaN,NaN,3810,5532,2277,NaN,12568,2775,10744,2227,2017-03-02T04:00:00-00:00,56
14,2388,NaN,23512,NaN,NaN,3982,4655,2267,NaN,11976,2613,12170,1995,2017-03-02T05:00:00-00:00,70
19,2692,NaN,23496,NaN,NaN,3294,5227,2756,NaN,11111,2570,9161,1973,2017-03-02T06:00:00-00:00,84
6,3483,NaN,24545,NaN,NaN,3695,4843,2432,NaN,10496,3518,9656,2131,2017-03-02T07:00:00-00:00,84
40,3157,NaN,21402,NaN,NaN,3444,5272,2540,NaN,10026,3637,10985,1881,2017-03-02T08:00:00-00:00,50
41,2547,NaN,20832,NaN,NaN,3941,5159,2300,NaN,9683,3631,12339,2197,2017-03-02T09:00:00-00:00,58
46,2755,NaN,20648,NaN,NaN,3544,5267,2588,NaN,9518,2764,10637,2115,2017-03-02T10:00:00-00:00,64
35,2461,NaN,24731,NaN,NaN,3286,5049,2820,NaN,9526,2473,10912,2713,2017-03-02T11:00:00-00:00,58
36,2359,NaN,24771,NaN,NaN,3504,5106,2718,NaN,9815,3374,11341,2745,2017-03-02T12:00:00-00:00,71
31,3142,NaN,23890,NaN,NaN,3554,5036,2592,NaN,10351,3538,9883,2285,2017-03-02T13:00:00-00:00,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18223,2335,6486,22750,1464,25,3341,4364,1925,2283,10890,2186,9298,1810,2019-03-31T02:00:00-00:00,70
18229,2610,6793,19815,1574,26,3371,4630,1892,2190,11100,2800,8424,1991,2019-03-31T03:00:00-00:00,48
18221,2150,7273,20528,1623,27,3372,4728,1921,2068,10754,2478,10159,1746,2019-03-31T04:00:00-00:00,52
18227,2267,6828,23839,1480,17,3538,4469,1818,2301,10172,2363,8750,1744,2019-03-31T05:00:00-00:00,46
18220,2465,6574,18407,1681,27,3328,4840,1990,2066,9571,2523,9196,1918,2019-03-31T06:00:00-00:00,49
18243,2295,5828,20456,1616,45,3279,4473,1916,2088,9067,2371,10820,2174,2019-03-31T07:00:00-00:00,47
18246,2102,5812,17960,1700,45,3177,4456,1874,1662,9009,2475,11309,1801,2019-03-31T08:00:00-00:00,65
18242,2683,6109,20013,1467,65,3146,4495,1699,1631,8798,2568,8260,2466,2019-03-31T09:00:00-00:00,49
18256,2352,5823,17828,1557,66,3516,4726,2055,2114,8706,2551,8226,1728,2019-03-31T10:00:00-00:00,48
18248,2109,7014,22374,1471,48,3364,4598,1710,1808,8732,2068,8382,2138,2019-03-31T11:00:00-00:00,49
18250,2385,6484,19899,1338,66,3647,4751,2057,2315,8939,2655,9072,1439,2019-03-31T12:00:00-00:00,44
18241,2973,6911,19122,1534,64,3773,4555,2133,1877,9296,2519,8604,1864,2019-03-31T13:00:00-00:00,51
18257,3049,6618,19314,1626,66,3231,4549,2098,2266,9413,2010,8558,1682,2019-03-31T14:00:00-00:00,50
18262,2575,6912,18775,1679,65,3093,4359,1739,1991,9478,2214,8466,1598,2019-03-31T15:00:00-00:00,53
18254,2295,7080,18740,1489,64,3261,4424,2164,2063,9023,2413,9430,1783,2019-03-31T16:00:00-00:00,58
18255,2232,6885,19789,1400,65,3442,4543,1861,2151,8552,2002,10137,1444,2019-03-31T17:00:00-00:00,46
18239,2201,6748,19487,1460,60,3293,4722,1890,1663,8180,2164,8296,1730,2019-03-31T18:00:00-00:00,45
18249,2064,7144,19796,1496,66,3579,4487,1959,2191,7994,2403,11285,1676,2019-03-31T19:00:00-00:00,56
18244,2329,5892,23509,1385,45,3289,4457,1975,2051,7965,2079,8668,1815,2019-03-31T20:00:00-00:00,53
18253,2221,6925,18985,1453,66,3289,4332,1745,2196,8111,1983,9009,2332,2019-03-31T21:00:00-00:00,45
18251,2242,6673,25068,1371,45,3173,4969,1874,2149,8455,2737,8277,1568,2019-03-31T22:00:00-00:00,45
18240,2819,6688,20750,1372,45,3283,4690,2039,2191,8838,2630,8384,1685,2019-03-31T23:00:00-00:00,45
18260,2900,6041,18381,1500,64,3272,4483,2264,1723,9550,2602,8350,2518,2019-04-01T00:00:00-00:00,64
18247,2345,7087,18457,1576,66,3280,4615,2175,2184,10385,2417,8258,1911,2019-04-01T01:00:00-00:00,47
18259,3106,5887,19033,1516,56,3188,4326,2321,2025,11123,2720,8590,2326,2019-04-01T02:00:00-00:00,46
18258,2183,6975,22030,1414,28,3765,4918,2268,2148,11254,2779,10194,1713,2019-04-01T03:00:00-00:00,47
18261,2263,6309,17914,1537,64,3115,4338,1807,2084,10768,2790,8216,1454,2019-04-01T04:00:00-00:00,61
18252,2473,6901,24035,1598,65,3477,4373,1698,1631,9987,2441,10684,1952,2019-04-01T05:00:00-00:00,51
18245,2070,6780,25122,1653,45,3102,4674,1916,1745,9258,2631,9596,1496,2019-04-01T06:00:00-00:00,53
18263,2353,5884,19613,1319,64,3162,4260,1631,1690,8725,2040,8932,1848,2019-04-01T07:00:00-00:00,44

In [47]:
df.to_csv('17-19load.csv',index=False)